<div class="page-wrap">
  <div class="container">
    <div class="page-header">
      <h3>
      <a href="{{rootPath}}admin">Administration</a> - <small>Add User</small>
    </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              <form action="addUser" class="form-horizontal" method="post" role="form">
                {{#if message}}
                <div class="alert alert-danger text-center">
                  {{message}}
                  <!--if there are validation error show them-->
                  {{#if valErr}}
                  <div class="validation-summary-errors">
                    <ul class="list-unstyled">
                      {{#each valErr.errors}}
                      <li>{{message}}</li>
                      {{/each}}
                    </ul>
                  </div>
                  {{/if}}
                </div>
                {{/if}}
                <h3 class="text-center">Add a New User</h3>
                <div class="form-group">
                  <label for="organization" class="col-md-3 control-label">Organization Name</label>
                  <div class="col-md-6">
                    <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter your organization name" id="organization" name="organization" placeholder="" type="text" value="{{newUser.organization}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                <span class="field-validation-error" data-valmsg-for="organization" data-valmsg-replace="true">
                  <!--validation message-->
                </span>
                    </span>
                  </div>
                </div>
                <div class="form-group youthOrg-form-group">
                  <div class="col-md-10 col-md-offset-3">
                    <label class="checkbox">
                      <input data-val="true" data-val-required="This field is required." id="isYouthOrganization" name="isYouthOrganization" type="checkbox" value="{{newUser.isYouthOrganization}}" {{#if newUser.isYouthOrganization }}checked{{/if}}>
                      <input name="isYouthOrganization" type="hidden" value="false">Youth Service Organization
                    </label>
                  </div>
                </div>
                <div class="form-group youthOrg-form-group">
                  <div class="col-md-10 col-md-offset-3">
                    <label class="checkbox">
                      <input data-val="true" data-val-required="This field is required." id="is501c3" name="is501c3" type="checkbox" value="{{newUser.is501c3}}" {{#if newUser.is501c3 }}checked{{/if}}>
                      <input name="is501c3" type="hidden" value="false">501c3 Organization
                    </label>
                  </div>
                </div>
                <div class="form-group youthOrg-form-group">
                  <div class="col-md-10 col-md-offset-3">
                    <label class="checkbox">
                      <input data-val="true" data-val-required="This field is required." id="isReligiousOrg" name="isReligiousOrg" type="checkbox" value="{{newUser.isReligiousOrg}}" {{#if newUser.isReligiousOrg }}checked{{/if}}>
                      <input name="isReligiousOrg" type="hidden" value="false">Religious Organization
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 control-label">Other</label>
                  <div class="col-md-6">
                    <div class="input-group inputLong">
                      <textarea class="form-control" id="otherOrg" name="otherOrg" placeholder="Other type of organization" required>{{newUser.otherOrg}}</textarea>
                      <!--<span class="label label-default">Required</span>-->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <label for="organization" class="control-label">Organization Contact</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstName" class="col-md-3 control-label">First Name</label>
                  <div class="col-md-6">
                    <input class="form-control" id="firstName" name="firstName" placeholder="John" type="text" value="{{newUser.firstName}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                      <span class="">
                        <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName" class="col-md-3 control-label">Last Name</label>
                  <div class="col-md-6">
                    <input class="form-control" id="lastName" name="lastName" placeholder="Doe" type="text" value="{{newUser.lastName}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                      <span class="">
                         <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Email" class="col-md-3 control-label">Email</label>
                  <div class="col-md-6">
                    <input class="form-control" id="Email" name="email" placeholder="john@somecompany.com" type="email" value="{{newUser.email}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                     <span class="">
                         <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-6">
                    <input class="form-control" id="Password" name="password" placeholder="Password" type="password">
                    <span class="label label-default">Required</span>
                    <span class="help-block"><span class=""> <!--validation message--></span></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="ConfirmPassword" class="col-md-3 control-label">Confirm password</label>
                  <div class="col-md-6">
                    <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" type="password">
                    <span class="label label-default">Required</span>
                    <span class="help-block"><span class="" > <!--validation message--></span></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="firstName" class="col-md-3 control-label">Role</label>
                  <div class="col-md-2">
                    <select name="role" id="role" class="form-control">
                      <option value="user">User</option>
                      <option value="admin">Admin</option>
                    </select>
                    <span class="label label-default">Admin role allows this user to access administration</span>
                    <span class="help-block">
                      <span class="">
                        <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="status" class="col-md-3 control-label">Status</label>
                  <div class="col-md-3">
                    <select name="approved" id="approved" class="form-control">
                      <option value="true" {{#ifCond editUser.approved true}}selected{{/ifCond}}>Approved</option>
                      <option value="false" {{#ifCond editUser.approved false}}selected{{/ifCond}}>Not Approved</option>
                    </select>
                    <p>
                      {{#ifCond editUser.approved true}}<span class="label label-success">User is approved to post events</span>{{/ifCond}} {{#ifCond editUser.approved false}}<span class="label label-warning">User is not approved to post events</span>{{/ifCond}}
                    </p>
                    <span class="label label-default"></span>
                    <span class="help-block">                      
                      <span class="">
                        <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary" id="proceedBtn" type="submit">
                      Add
                    </button>
                    <a class="btn btn-default" href="{{rootPath}}admin">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>