<div class="page-wrap">
  <div class="container">
   <div class="page-header">
    <h3>
      <a href="{{rootPath}}admin">Administration</a> - <small>Edit User</small>
    </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              <form action="{{user._id}}" class="form-horizontal" method="post" role="form">
                <!-- <input type="hidden" value="" name="id"/> -->
                {{#if message}}
                <div class="alert alert-warning text-center">
                  {{message}}
                  <!--if there are validation error show them-->
                  {{#if valErr}}
                  <div class="validation-summary-errors">
                    <ul class="list-unstyled">
                      {{#each valErr.errors}}
                        <li>{{message}}</li>
                      {{/each}}
                    </ul>
                  </div>
                  {{/if}}
                </div>
                {{/if}}
                <div class="form-group">
                  <label for="firstName" class="col-md-3 control-label">First Name</label>
                  <div class="col-md-6">
                    <input class="form-control" id="firstName" name="firstName" placeholder="John" type="text" value="{{user.firstName}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                      <span class="">
                        <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="lastName" class="col-md-3 control-label">Last Name</label>
                  <div class="col-md-6">
                    <input class="form-control" id="lastName" name="lastName" placeholder="Doe" type="text" value="{{user.lastName}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                      <span class="">
                         <!--validation message-->
                      </span>

                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Email" class="col-md-3 control-label">Email</label>
                  <div class="col-md-6">
                    <input class="form-control" id="Email" name="email" placeholder="john@somecompany.com" type="email" value="{{user.email}}">
                    <span class="label label-default">Required</span>
                    <span class="help-block">
                     <span class="">
                         <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>
               <!--  <div class="form-group">
                  <label for="Password" class="col-md-3 control-label">Password</label>
                  <div class="col-md-6">
                    <input class="form-control"id="Password" name="password" placeholder="Password" type="password">
                    <span class="label label-default">Required</span>
                    <span class="help-block"><span class=""> <!--validation message--></span></span>
                <!-- </div>
                </div>
                <div class="form-group">
                  <label for="ConfirmPassword" class="col-md-3 control-label">Confirm password</label>
                  <div class="col-md-6">
                    <input class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" type="password">
                    <span class="label label-default">Required</span>
                    <span class="help-block"><span class="" > <!--validation message--></span></span>
                <!--  </div>
                </div> -->
                <div class="form-group">
                  <label for="firstName" class="col-md-3 control-label">Role</label>
                  <div class="col-md-2">
                    <select name="role" id="role" class="form-control">
                      <option value="user" {{#ifCond user.role 'user'}}selected{{/ifCond}}>User</option>
                      <option value="admin" {{#ifCond user.role 'admin'}}selected{{/ifCond}}>Admin</option>
                    </select>
                    <span class="label label-default">Admin role allows this user to access administration</span>
                    <span class="help-block">
                      <span class="">
                        <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="firstName" class="col-md-3 control-label">Status</label>
                  <div class="col-md-6">
                    <p>
                      {{#ifCond user.approved true}}<span class="label label-success">Approved</span>{{/ifCond}}
                      {{#ifCond user.approved false}}<span class="label label-warning">Not approved</span>{{/ifCond}}
                    </p>

                    <span class="label label-default"></span>
                    <span class="help-block">
                      Indicates whether of not user is allowed to post events
                      <span class="">
                        <!--validation message-->
                      </span>
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-6 col-md-offset-3">
                    <button class="btn btn-primary" id="proceedBtn" type="submit">
                      Submit
                    </button>
                    <a class="btn btn-default" href="{{rootPath}}admin/manageUser">Back</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
