
<div class="page-wrap">
  <div class="container">
    <form action="changePassword" class="form-horizontal" method="post" role="form" novalidate="novalidate">
      {{#if message}}
      {{#unless err}}
      <div class="alert alert-success text-center">
        {{message}}
      </div>
      {{/unless}}
      {{#if err}}
      <div class="alert alert-danger text-center">
        {{message}}
        <div class="validation-summary-errors">
          <ul class="list-unstyled">
            {{#each err.errors}}
            <li>{{message}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/if}}
      {{/if}}
      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center"><i class="fa fa-edit"></i>&nbsp;Change Password</h3>
        </div>
      </div>
      <div class="form-group">
        <label for="Password" class="col-md-3 control-label">Current Password</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="currentPassword" name="currentPassword" placeholder="Password" type="password">
          <span class="label label-default">Required</span>
          <span class="help-block"><span class="field-validation-error" data-valmsg-for="Password" data-valmsg-replace="true"> <!--validation message--></span></span>
        </div>
      </div>
      <div class="form-group">
        <label for="Password" class="col-md-3 control-label">New Password</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="password" placeholder="Password" type="password">
          <span class="label label-default">Required</span>
          <span class="help-block"><span class="field-validation-error" data-valmsg-for="Password" data-valmsg-replace="true"> <!--validation message--></span></span>
        </div>
      </div>
      <div class="form-group">
        <label for="ConfirmPassword" class="col-md-3 control-label">Confirm New Password</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" data-val-required="The Confirm password field is required." id="ConfirmPassword" name="confirmPassword" placeholder="Confirm your password" type="password">
          <span class="label label-default">Required</span>
          <span class="help-block"><span class="field-validation-error" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"> <!--validation message--></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <button class="btn btn-primary" id="proceedBtn" type="submit">
            Change Password
          </button>
          <a class="btn btn-default" href="/profile">Cancel</a>
        </div>
      </form>
      <!-- <div class="col-md-2"></div> Please use offset if you need to set blank col -->
    </div>
  </div>
</div>
