<div class="page-wrap">
  <div class="container">
    <form action="edit" class="form-horizontal" method="post" role="form" novalidate="novalidate">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#if message}} {{#unless err}}
          <div class="alert alert-success text-center">
            {{message}}
          </div>
          {{/unless}} {{#if err}}
          <div class="alert alert-danger text-center">
            {{message}}
            <div class="validation-summary-errors">
              <ul class="list-unstyled">
                {{#each err.errors}}
                <li>{{message}}</li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{/if}} {{/if}}
          <h3 class="text-center"><i class="fa fa-edit"></i>&nbsp;Edit Profile</h3>
          <div class="form-group">
            <label for="organization" class="col-md-3 control-label">Organization Name</label>
            <div class="col-md-6">
              <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter your organization name" id="organization" name="organization" placeholder="" type="text" value="{{user.organization}}">
              <span class="help-block">
                <span class="field-validation-error" data-valmsg-for="organization" data-valmsg-replace="true">
                  <!--validation message-->
                </span>
              </span>
            </div>
          </div>
          <div class="form-group youthOrg-form-group">
            <div class="col-md-10 col-md-offset-3">
              <label class="checkbox">
                <input data-val="true" data-val-required="This field is required." id="isYouthOrganization" name="isYouthOrganization" type="checkbox" value="{{user.isYouthOrganization}}" {{#if user.isYouthOrganization }}checked{{/if}}>
                <input name="isYouthOrganization" type="hidden" value="false">Is this organization a Youth Service Organization?
              </label>
            </div>
          </div>
          <div class="form-group youthOrg-form-group">
            <div class="col-md-10 col-md-offset-3">
              <label class="checkbox">
                <input data-val="true" data-val-required="This field is required." id="is501c3" name="is501c3" type="checkbox" value="{{user.is501c3}}" {{#if user.is501c3 }}checked{{/if}}>
                <input name="is501c3" type="hidden" value="false">Is this organization a 501c3 Organization?
              </label>
            </div>
          </div>
          <div class="form-group youthOrg-form-group">
            <div class="col-md-10 col-md-offset-3">
              <label class="checkbox">
                <input data-val="true" data-val-required="This field is required." id="isReligiousOrg" name="isReligiousOrg" type="checkbox" value="{{user.isReligiousOrg}}" {{#if user.isReligiousOrg }}checked{{/if}}>
                <input name="isReligiousOrg" type="hidden" value="false">Is this organization a Religious Organization?
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="organization" class="col-md-3 control-label">Organization Contact</label>
          </div>
          <div class="form-group">
            <label for="firstName" class="col-md-3 control-label">First Name</label>
            <div class="col-md-6">
              <input class="form-control" id="firstName" name="firstName" placeholder="First Name" type="text" value="{{user.firstName}}">
              <span class="help-block">
              <span data-valmsg-for="firstName" data-valmsg-replace="true">
                <!--validation message-->
              </span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-md-3 control-label">Last Name</label>
            <div class="col-md-6">
              <input class="form-control" id="lastName" name="lastName" placeholder="Last Name" type="text" value="{{user.lastName}}">
              <span class="help-block">
              <span data-valmsg-for="lastName" data-valmsg-replace="true">
                <!--validation message-->
              </span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="Email" class="col-md-3 control-label">Email</label>
            <div class="col-md-6">
              <input class="form-control" id="Email" name="email" placeholder="Email" type="email" value="{{user.email}}">
              <span class="help-block">
              <span data-valmsg-for="Email" data-valmsg-replace="true">
                <!--validation message-->
              </span>
              </span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <button class="btn btn-primary" id="proceedBtn" type="submit">
                Save Profile Edits
              </button>
              <a class="btn btn-default" href="{{rootPath}}profile">Back</a>
            </div>
          </div>
        </div>
    </form>
    </div>
  </div>