<div class="page-wrap">
  <div class="container">
    <div class="row">
      {{#if message}} {{#unless err}}
      <div class="alert alert-success text-center">
        {{message}}
      </div>
      {{/unless}} {{#if err}}
      <div class="alert alert-danger text-center">
        {{message}}
        <div class="validation-summary-errors">
          <ul class="list-unstyled">
            {{#each err.errors}}
            <li>{{message}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{/if}} {{/if}}
      <div class="col-md-8 col-md-offset-2">
        <h3>Profile</h3>
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Profile Information</strong> &nbsp;
            <a href="{{rootPath}}profile/edit"><span class="fa fa-pencil"></span></a>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Organization</dt>
              <dd><strong>{{user.organization}}</strong></dd>
              <dd class="">
                {{#if user.isYouthOrganization}}
                <label class="label label-success">
                  <i class="fa fa-check"></i>&nbsp;Youth Service Organization</label>
                {{/if}} {{#if user.is501c3}}
                <label class="label label-primary">
                  <i class="fa fa-check"></i>&nbsp;501c3 Organization</label>
                {{/if}} {{#if user.isReligiousOrg}}
                <label class="label label-warning">
                  <i class="fa fa-check"></i>&nbsp;Religious Organization</label>
                {{/if}}
              </dd>
              
              <dt>Contact</dt>
              <dd>{{user.firstName}} {{user.lastName}}</dd>
              <dt>Email</dt>
              <dd>{{user.email}}</dd>

            </dl>
          </div>
          <div class="panel-footer">
            <a href="{{rootPath}}profile/changePassword">
              <span class="fa fa-key"></span>&nbsp;Change Password
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>