<div class="navbar navbar-default">
	<div class= "container-fluid">
		<div class= "navbar-header">
			<strong class="navbar-brand"> What's Up Salisbury </strong>
  	</div>

		<ul class="nav navbar-nav navbar-right">
			<li> <a href="#"> <span class="fa fa-globe"></span> Map </a> </li>
			<li> <a href="/auth/login"> <span class="fa fa-calendar"></span> Login </a> </li>
			<li> <a href="/auth/signUp"> <span class="fa fa-key"></span> Register </a> </li>
			<li> <a href="/">	<span class="fa fa-home"></span> Home </a> </li>
		</ul>
	</div>
</div>
