<div class ="page-wrap">
  <div class = "jumbotron introJumbo">
	<div class = "container topSection">
	  <h3> See what's going on around Salisbury! To view events near you, head to the map section below. If you are hosting an event, login to use the event management dashboard. </h3>
	</div>	
	<div class = "container bottomSection" >
	  <div class = "row">
		<div class = "col-lg-4 introCol">
		  <i class="fa fa-5x fa-globe" aria-hidden="true"></i>
		  <button class="btn btn-primary" href="#">  Go To Map!  </button>
		</div>
		<div class = "col-lg-4 introCol">
		  <i class="fa fa-5x fa-calendar" aria-hidden="true"></i>
		  <button class="btn btn-primary" href="#"> Login  </button>
		</div>
		<div class = "col-lg-4 introCol">
		  <i class="fa fa-5x fa-key" aria-hidden="true"></i>
		  <button class="btn btn-primary" href="#">  Register  </button></a>
		</div>
	  </div>
	</div>
  </div>
</div>

