<div class = "jumbotron introJumbo">
	<div class = "container topSection">
		<h3> See what's going on around Salisbury! To view events near you, head to the map section below. If you are hosting an event, login to use the event management dashboard. </h3>
	</div>
	<div class = "container bottomSection" >
		<div class = "row">
			<div class = "col-lg-4 introCol">
				<img src = "img/earth.png" />
				<a href="#"> <h2> Go To Map! </h2> </a>
			</div>
			<div class = "col-lg-4 introCol">
				<img src = "img/calendar.png" />           	
				<a href="#"> <h2>Sign In</h2> </a>
			</div>
			<div class = "col-lg-4 introCol">
				<img src = "img/key.png" />
				<a href="#"> <h2>Register</h2> </a>
			</div>
		</div>
	</div>
</div>
