<div class="page-wrap">
  <div class="jumbotron  introJumbo">
    <div class=" topSection">
      <h1 class="text-center">
        Welcome to Unite Salisbury!
      </h1>
      <h3> See what's going on around Salisbury! To view events near you, head to the map section below. If you are hosting an event, login to use the event management dashboard. 
     </h3>
    </div>
  </div>
  <div class="container">
    {{#if message}}
    <div class="alert alert-warning">{{message}}</div>
    {{/if}}
    <div class=" bottomSection">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 introCol">
          <i class="fa fa-5x fa-globe" aria-hidden="true"></i>
          <a class="btn btn-primary" href="event">  Go To Map!  </a>
        </div>
      </div>
    </div>
  </div>
</div>
