<div class="page-wrap">
  <div class="container">
    <form action="signUp" class="form-horizontal" method="post" role="form" novalidate="novalidate">
      {{#if message}}
      <div class="alert alert-danger text-center">
        {{message}} {{#if err}}
        <div class="validation-summary-errors">
          <ul class="list-unstyled">
            {{#each err.errors}}
            <li>{{message}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
      {{/if}}
      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center"><i class="fa fa-edit"></i>&nbsp;Sign up</h3>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName" class="col-md-3 control-label">First Name</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter a valid email address" id="firstName" name="firstName" placeholder="John" type="email" value="{{newUser.firstName}}">
          <span class="label label-default">Required</span>
          <span class="help-block">
            <span class="field-validation-error" data-valmsg-for="firstName" data-valmsg-replace="true">
              <!--validation message-->
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-md-3 control-label">Last Name</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter a valid email address" id="lastName" name="lastName" placeholder="Doe" type="email" value="{{newUser.lastName}}">
          <span class="label label-default">Required</span>
          <span class="help-block">
            <span class="field-validation-error" data-valmsg-for="lastName" data-valmsg-replace="true">
               <!--validation message-->
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Email" class="col-md-3 control-label">Email</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter a valid email address" id="Email" name="email" placeholder="john@somecompany.com" type="email" value="{{newUser.email}}">
          <span class="label label-default">Required</span>
          <span class="help-block">
            <span class="field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true">
               <!--validation message-->
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Password" class="col-md-3 control-label">Password</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="password" placeholder="Password" type="password">
          <span class="label label-default">Required</span>
          <span class="help-block"><span class="field-validation-error" data-valmsg-for="Password" data-valmsg-replace="true"> <!--validation message--></span></span>
        </div>
      </div>
      <div class="form-group">
        <label for="ConfirmPassword" class="col-md-3 control-label">Confirm password</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" data-val-required="The Confirm password field is required." id="ConfirmPassword" name="confirmPassword" placeholder="Confirm your password" type="password">
          <span class="label label-default">Required</span>
          <span class="help-block"><span class="field-validation-error" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"> <!--validation message--></span></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <button class="btn btn-primary" id="proceedBtn" type="submit">
            Sign up
          </button>
          <a class="btn btn-default" href="/">Cancel</a>
          <span><a href="login">Already a member? Sign In</a></span>
        </div>
      </div>
    </form>
    <!-- <div class="col-md-2"></div> Please use offset if you need to set blank col -->
  </div>
</div>
{{#contentFor "scripts"}}
<script src="{{rootPath}}build/whatsup-signup.js"></script>
{{/contentFor}}
