<div class="page-wrap">
  <div class="container">
    <form action="signUp" class="form-horizontal" method="post" role="form" novalidate="novalidate">
      {{#if message}}
      <div class="alert alert-danger text-center">
        {{message}} {{#if err}}
        <div class="validation-summary-errors">
          <ul class="list-unstyled">
            {{#each err.errors}}
            <li>{{message}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
      {{/if}}
      <div class="form-group">
        <div class="col-md-10 col-md-offset-1">
          <h3 class="text-center"><i class="fa fa-edit"></i>&nbsp;Edit Profile</h3>
        </div>
      </div>
      <div class="form-group">
        <label for="firstName" class="col-md-3 control-label">{{user.firstname}}</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter a valid email address" id="firstName" name="firstName" placeholder="John" type="email" value="{{newUser.firstName}}">
          <span class="help-block">
            <span class="field-validation-error" data-valmsg-for="firstName" data-valmsg-replace="true">
              <!--validation message-->
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName" class="col-md-3 control-label">Last Name</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter a valid email address" id="lastName" name="lastName" placeholder="Doe" type="email" value="{{newUser.lastName}}">
          <span class="help-block">
            <span class="field-validation-error" data-valmsg-for="lastName" data-valmsg-replace="true">
               <!--validation message-->
            </span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="Email" class="col-md-3 control-label">Email</label>
        <div class="col-md-6">
          <input class="input-validation-error form-control" data-val="true" data-val-required="Please enter a valid email address" id="Email" name="email" placeholder="john@somecompany.com" type="email" value="{{newUser.email}}">
          <span class="help-block">
            <span class="field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true">
               <!--validation message-->
            </span>
          </span>
        </div>
      </div>
    </form>
    <!-- <div class="col-md-2"></div> Please use offset if you need to set blank col -->
  </div>
</div>
{{#contentFor "scripts"}}
<script src="{{rootPath}}build/whatsup-signup.js"></script>
{{/contentFor}}
