<div class="page-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			{{#if message}}
			<div class="alert alert-danger">{{message}}</div>
			{{/if}}
			<div class="col-md-8">
				<form class="login-form" action="signup" method="post">
					<h3>Enter a email and password to get started! </h3>
					<div class= "form-input">
						<input class="form-control" type="text" placeholder="New Email" autofocus="" name="email"/>
						<input class="form-control" type="password" placeholder="New Password" name="password"/>
						<button class="btn btn-lg btn-primary btn-block" type="submit" >Create Profile </button>
					</div>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>
