.deleteButtonForm {
  display: inline-block;
  float: right;
}

.inputLong {
  width: 100%;
}

#monthlyOnEach {
  .btn-group {
    > .btn {
      // border: 1px;
      border-radius: 0;
      width: 42px;
    }
    .btn + .btn{
    	margin-left: 0;
    }
  }
}
