

.introCol{
	font-size: 17px;
	line-height: 1.8;
	color: #7a7a7a;
	padding:10px;
}
.topSection{
  text-align: center;
	padding: 50px;
}
.bottomSection{
  i{
		display: block;
		padding: 10px;
  }
}

