@import "login.less";
@import "intro.less";
@import "profile.less";
html {
  min-height: 100%;
  width: 100%;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: #EDEDED;
  margin-bottom: 60px;
}

a {
  color: #00B7FF;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.banner {
  border: solid;
}

.page-wrap {
  // margin-bottom: 70px;
}

.jumbotron {
  background-color: #fff;
}
