@import "login.less";
@import "intro.less";
@import "profile.less";

html{
  height: 100%;
  width: 100%;
}
body {
	height: 100%;
	width: 100%;
	overflow: scroll;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}


.banner{
	border: solid;
}
.page-wrap{
	max-height: 100%;
	margin-bottom:-70px;
}

footer{
        position: absolute;
        bottom: 0;
	height: 70px;
	background-color:#f5f5f5;
	text-align: center;
	padding:20px;
        width: 100%;
} 

