<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="tableViewArea">
      <h3>{{user}}'s Event Table</h3>
   <div id="tableArea">
    
   </div>
 <button class="btn btn-primary" id="addItem"> Add Event </button>
 <button id="saveButton" class="btn btn-primary"> Save Changes </button>
 <a id="discardButton" class="btn btn-primary" href="./table"> Discard Changes </a>
 <a class="btn btn-primary" href="./"> Back To Map </a>
      {{> tablePart }}
      {{> addPartial }}
      {{> eventForm }}
      {{#if message}}
      <div class="alert alert-danger">{{message}}</div>
      {{/if}}
    </div>
    </div>
  </div>
</div>
{{#contentFor 'scripts'}}
<script src="./build/whatsUpAdmin.js"></script>
{{/contentFor}}


