{{#contentFor 'customCss'}}
<link rel="stylesheet" href="{{rootPath}}lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="{{rootPath}}lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" /> {{/contentFor}}
<div class="page-wrap">
  <div class="container">
    <div class="col-md-12">
      {{#if message}} {{#unless err}}
      <div class="alert alert-success text-center">
        {{message}}
      </div>
      {{/unless}} {{#if err}}
      <div class="alert alert-danger text-center">
        {{message}} {{#each err.errors}}
        <li>{{message}}</li>
        {{/each}}
      </div>
      {{/if}} {{/if}}
      <h3 class="text-left"><i class="fa fa-calendar"></i>&nbsp;Add Event</h3>
      <form action="add" class="form-horizontal" method="post" id="event-form">
        <div class="panel panel-default">
          <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Title</label>
            <div class="col-md-6">
              <input class="form-control" id="eventTitle" name="eventTitle" value="{{event.name}}" placeholder="Event title" />
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"> Starts On</label>
            <div class="col-md-3">
              <div class="input-group date" data-provide="datepicker">
                <input class="form-control" id="startDate" name="startDate" type="text" value="{{parseDateForEdit detail.startDate}}" placeholder="MM/DD/YY" />
                <div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
              </div>
              <!--<span class="label label-default">Required</span>-->
            </div>
            <div class="col-md-3">
              <div class="input-group bootstrap-timepicker timepicker">
                <input class="form-control" id="startTime" name="startTime" type="text" value="{{parseTimeForEdit detail.startDate}}">
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              </div>
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Ends</label>
            <div class="col-md-3">
              <div class="input-group date" data-provide="datepicker">
                <input class="form-control" id="endDate" name="endDate" type="text" value="{{parseDateForEdit detail.endDate}}" placeholder="MM/DD/YY" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
              <!--<span class="label label-default">Required</span>-->
            </div>
            <div class="col-md-3">
              <div class="input-group bootstrap-timepicker timepicker">
                <input class="form-control" id="endTime" name="endTime" type="text" value="{{parseTimeForEdit detail.endDate}}" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              </div>
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <!--repeat-->
          <div class="form-group">
            <label class="col-md-3 control-label">Repeat</label>
            <!--cusomized controls to capture repeat event-->
            <div class="checkbox col-md-2">
              <label id="repeat-switch">
                <input type="checkbox" name="repeat" value="true" {{#if repeat}}checked{{/if}}>
              </label>
            </div>
          </div>
          <!--Frequency, hidden controls -- only displayed when repeat is true-->
          <div class="switchable {{#if repeat}}active{{/if}}" id="repeat-frequency-controls">
            <div class="form-group">
              <label class="col-md-3 control-label">Frequency</label>
              <div class="col-md-2">
                <select class="form-control" name="frequency" id="frequency-control">
                  <option {{#ifCond frequency 'daily'}}selected{{/ifCond}} value='daily'>Daily</option>
                  <option {{#ifCond frequency 'weekly'}}selected{{/ifCond}} value='weekly'>Weekly</option>
                  <!-- <option value='biweekly'>Bi-Weekly</option> -->
                  <option {{#ifCond frequency 'monthly'}}selected{{/ifCond}} value='monthly'>Monthly</option>
                  <option {{#ifCond frequency 'yearly'}}selected{{/ifCond}} value='yearly'>Yearly</option>
                </select>
              </div>
              <label class="col-md-1 control-label">Every</label>
              <div class="col-md-1">
                <input class="form-control" id="every-count" name="every" type="number" min="1" value="{{every}}">
              </div>
              <label class="col-md-1 control-label" id="every-type" style="text-align: left;">Day(s)</label>
            </div>
            <!--OPTIONAL options based on frequency-->
            <!--Daily-->
            <!-- <div class="form-group switchable" id="daily-on">
            </div> -->

            <!--Weekly-->
            <div class="form-group switchable detail-frequency {{#ifCond frequency 'weekly'}}active{{/ifCond}}" id="weekly-on">
              <label class="control-label col-md-3">On</label>
              <div class="col-md-9">
                <div class="checkbox">
                  <!--monday-->
                  <label id="monday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="monday" checked> Monday
                  </label>
                </div>
                <div class="checkbox">
                  <!--tuesday-->
                  <label id="tuesday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="tuesday"> Tuesday
                  </label>
                </div>
                <div class="checkbox">
                  <!--wednesday-->
                  <label id="wednesday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="wednesday"> Wednesday
                  </label>
                </div>
                <div class="checkbox">
                  <!--thursday-->
                  <label id="thursday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="thursday"> Thursday
                  </label>
                </div>
                <div class="checkbox">
                  <!--Friday-->
                  <label id="Friday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="friday"> Friday
                  </label>
                </div>
                <div class="checkbox">
                  <!--Saturday-->
                  <label id="Saturday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="saturday"> Saturday
                  </label>
                </div>
                <div class="checkbox">
                  <!--Sunday-->
                  <label id="sunday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="sunday"> Sunday
                  </label>
                </div>
              </div>
            </div>

            <!--Monthly-->
            <div class="form-group switchable detail-frequency {{#ifCond frequency 'yearly'}}selected{{/ifCond}}" id="monthly-on">
              <label class="control-label col-md-3">On</label>
              <div class="col-md-3">
                <div class="radio">
                  <label>
                    <input type="radio" name="monthlyOnType" value="each" checked> Day of Month
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="monthlyOnType" value="on"> Day of Week Count
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div id="monthly-on-each" class="switchable monthly-freq-type active">
                  <div class="btn-group btn-group-sm" data-toggle="buttons-radio" role="group" aria-label="1">
                    {{#for 1 31}}
                      <button type="button" class="btn btn-default {{#ifCond dayOfMonth i}}active{{/ifCond}}" value="{{i}}">{{i}}</button>
                    {{/for}}
                    <!-- <button type="button" class="btn btn-default" value="1">1</button>
                    <button type="button" class="btn btn-default" value="2">2</button> 
                    <button type="button" class="btn btn-default" value="3">3</button>
                    <button type="button" class="btn btn-default" value="4">4</button>
                    <button type="button" class="btn btn-default" value="5">5</button>
                    <button type="button" class="btn btn-default" value="6">6</button>
                    <button type="button" class="btn btn-default" value="7">7</button>
                    <button type="button" class="btn btn-default" value="8">8</button>
                    <button type="button" class="btn btn-default" value="9">9</button>
                    <button type="button" class="btn btn-default" value="10">10</button>
                    <button type="button" class="btn btn-default" value="11">11</button>
                    <button type="button" class="btn btn-default" value="12">12</button>
                    <button type="button" class="btn btn-default" value="13">13</button>
                    <button type="button" class="btn btn-default" value="14">14</button>
                    <button type="button" class="btn btn-default" value="15">15</button>
                    <button type="button" class="btn btn-default" value="16">16</button>
                    <button type="button" class="btn btn-default" value="17">17</button>
                    <button type="button" class="btn btn-default" value="18">18</button>
                    <button type="button" class="btn btn-default" value="19">19</button>
                    <button type="button" class="btn btn-default" value="20">20</button>
                    <button type="button" class="btn btn-default" value="21">21</button>
                    <button type="button" class="btn btn-default" value="22">22</button>
                    <button type="button" class="btn btn-default" value="23">23</button>
                    <button type="button" class="btn btn-default" value="24">24</button>
                    <button type="button" class="btn btn-default" value="25">25</button>
                    <button type="button" class="btn btn-default" value="26">26</button>
                    <button type="button" class="btn btn-default" value="27">27</button>
                    <button type="button" class="btn btn-default" value="28">28</button>
                    <button type="button" class="btn btn-default" value="29">29</button>
                    <button type="button" class="btn btn-default" value="30">30</button>
                    <button type="button" class="btn btn-default" value="31">31</button> -->
                  </div>
                  <div id="dayOfMonth-container">
                    <!--Contains hidden fields for monthly day of month-->
                  </div>
                </div>
                <div id="monthly-on-day-of-week" class="switchable monthly-freq-type">
                  <select id="monthly-day-of-week" class="form-control" name="dayOfweekCount">
                    <option value="first">First</option>
                    <option value="second">Second</option>
                    <option value="third">Third</option>
                    <option value="fourth">Fourth</option>
                    <option value="fifth">Fifth</option>
                    <option value="last">Last</option>
                  </select>
                  <select id="monthly-day-of-week" class="form-control" multiple name="dayOfWeek">
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                  </select>
                  <small class="text-info">Hold down <kbd>CTRL</kbd> to select multiple items</small>
                </div>
              </div>
              <input type="hidden" name="monthlyOnValue" value="">
            </div>
            <!--Yearly-->
            <div class="detail-frequency switchable" id="yearly-on">
              <div class="form-group">
                <label class="control-label col-md-3">In</label>
                <div class="col-md-9">
                  <div class="btn-group btn-group-sm" data-toggle="buttons-radio" role="group" aria-label="1">
                    <button type="button" class="btn btn-default" data-month="january">Jan</button>
                    <button type="button" class="btn btn-default" data-month="february">Feb</button>
                    <button type="button" class="btn btn-default" data-month="march">Mar</button>
                    <button type="button" class="btn btn-default" data-month="april">Apr</button>
                    <button type="button" class="btn btn-default" data-month="may">May</button>
                    <button type="button" class="btn btn-default" data-month="june">Jun</button>
                    <button type="button" class="btn btn-default" data-month="july">Jul</button>
                    <button type="button" class="btn btn-default" data-month="august">Aug</button>
                    <button type="button" class="btn btn-default" data-month="september">Sep</button>
                    <button type="button" class="btn btn-default" data-month="october">Oct</button>
                    <button type="button" class="btn btn-default" data-month="november">Nov</button>
                    <button type="button" class="btn btn-default" data-month="december">Dec</button>
                  </div>
                </div>
              </div>
              <div class="form-group" id="yearly-day-of-week-count">
                <label class="control-label col-md-3">Day of Week Count</label>
                <div class="checkbox col-md-3">
                  <label id="yearly-day-of-week-count-switch">
                    <input type="checkbox" name="yearlyDayOfWeek" value="true">
                  </label>
                </div>
                <div class="col-md-3">
                  <div id="yearly-on-day-of-week-count-container" class="switchable">
                    <select id="yearly-day-of-week-count" class="form-control">
                      <option value="first">First</option>
                      <option value="second">Second</option>
                      <option value="third">Third</option>
                      <option value="fourth">Fourth</option>
                      <option value="fifth">Fifth</option>
                      <option value="last">Last</option>
                    </select>
                    <select multiple id="yearly-day-of-week" class="form-control">
                      <option value="monday">Monday</option>
                      <option value="tuesday">Tuesday</option>
                      <option value="wednesday">Wednesday</option>
                      <option value="thursday">Thursday</option>
                      <option value="friday">Friday</option>
                      <option value="saturday">Saturday</option>
                      <option value="sunday">Sunday</option>
                    </select>
                    <small class="text-info">Hold down <kbd>CTRL</kbd> to select multiple items.</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- TO BE IMPLEMENTED -->
             <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <span class="text-success" id="repeat-summary">Event will occur every 1 day(s)</span>
                &nbsp;
                <span class="text-success" id="repeat-summary-details"></span>
              </div>
            </div>
          </div>
          <!--end of repeat-->
          <div class="form-group">
            <label class="col-md-3 control-label">Street Address</label>
            <div class="col-md-6">
              <input class="form-control" id="streetAddress" name="streetAddress" value="{{detail.address}}" placeholder="Event location or address" />
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">City/State/Zip</label>
            <div class="col-md-3">
              <input class="form-control" id="city" name="city" value="{{detail.city}}" placeholder="City" />
              <!--<span class="label label-default">Required</span>-->
            </div>
            <div class="col-md-1">
              <input class="form-control" id="state" name="state" value="{{detail.state}}" placeholder="MD" />
              <!--<span class="label label-default">Required</span>-->
            </div>
            <div class="col-md-2">
              <input class="form-control" id="zip" name="zip" value="{{detail.zip}}" placeholder="21801" />
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-6">
              <div class="input-group inputLong">
                <textarea class="form-control" id="description" name="description" value="{{detail.description}}" placeholder="Event Description..."></textarea>
                <!--<span class="label label-default">Required</span>-->
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <button class="btn btn-primary" id="proceedBtn" type="submit">
                Submit
              </button>
              <a class="btn btn-default" href="{{rootPath}}event">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{#contentFor 'scripts'}}
<script src="{{rootPath}}/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="{{rootPath}}/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="{{rootPath}}/build/eventAdd-bundle.js"></script>
{{/contentFor}}
