{{#contentFor 'customCss'}}
<link rel="stylesheet" href="{{rootPath}}lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" /> 
{{/contentFor}}
<div class="page-wrap">
  <div class="container">
    <div class="col-md-12">
      {{#if message}} {{#unless err}}
      <div class="alert alert-success text-center">
        {{message}}
      </div>
      {{/unless}} {{#if err}}
      <div class="alert alert-danger text-center">
        <ul class="list-unstyled">
          {{message}} {{#each err.errors}}
          <li>{{message}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}} {{/if}}
      <h3 class="text-left"><i class="fa fa-calendar"></i>&nbsp;Add Event</h3>
      <form action="add" class="form-horizontal" method="post" id="event-form">
        <div class="panel panel-default">
          <div class="form-group">
            <div class="col-md-10 col-md-offset-1">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Title</label>
            <div class="col-md-6">
              <input class="form-control" id="eventTitle" name="name" value="{{event.name}}" placeholder="Event name" required />
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"> Starts On</label>
            <div class="col-md-6">
              <div class="input-group date" data-provide="datepicker">
                <input required class="form-control" id="startDate" name="startDate" type="text" value="{{parseDateTime event.startDate}}" placeholder="MM/DD/YYYY"  role="datetime-picker"/>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
              <!--<span class="label label-default">Required</span>-->
            </div>           
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Ends</label>
            <div class="col-md-6">
              <div class="input-group date" data-provide="datepicker">
                <input required class="form-control" id="endDate" name="endDate" type="text" value="{{parseDateTime event.endDate}}" placeholder="MM/DD/YYYY" role="datetime-picker"/>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              </div>
              <!--<span class="label label-default">Required</span>-->
            </div>
            
          </div>
          <!--repeat-->
          <div class="form-group">
            <label class="col-md-3 control-label">Repeat</label>
            <!--cusomized controls to capture repeat event-->
            <div class="checkbox col-md-1">
              <label id="repeat-switch">
                <input type="checkbox" name="repeat" {{#if event.repeat}}checked{{/if}}>
              </label>
            </div>
            <label class="control-label col-md-2">Repeat Ends On</label>
            <div class="col-md-3">
              <div class="input-group date" data-provide="datepicker">
                <input class="form-control" id="repeatEnd" name="repeatEnd" type="text" value="{{parseDate event.repeatEnd}}" placeholder="MM/DD/YYYY" data-format="MM/dd/YYYY" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
              </div>
            </div>
          </div>
          <!--Frequency, hidden controls -- only displayed when repeat is true-->
          <div class="switchable {{#if event.repeat}}active{{/if}}" id="repeat-frequency-controls">
            <div class="form-group">
              <label class="col-md-3 control-label">Frequency</label>
              <div class="col-md-2">
                <select class="form-control" name="frequency" id="frequency-control">
                  <option {{#ifCond event.frequency 'daily'}}selected{{/ifCond}} value='daily'>Daily</option>
                  <option {{#ifCond event.frequency 'weekly'}}selected{{/ifCond}} value='weekly'>Weekly</option>
                  <!-- <option value='biweekly'>Bi-Weekly</option> -->
                  <option {{#ifCond event.frequency 'monthly'}}selected{{/ifCond}} value='monthly'>Monthly</option>
                  <option {{#ifCond event.frequency 'yearly'}}selected{{/ifCond}} value='yearly'>Yearly</option>
                </select>
              </div>
              <label class="col-md-1 control-label">Every</label>
              <div class="col-md-1">
                <input class="form-control" id="every-count" name="every" type="number" min="1" value="{{event.every}}">
              </div>
              <label class="col-md-1 control-label" id="every-type" style="text-align: left;">Day(s)</label>
            </div>
            <!--OPTIONAL options based on frequency-->
            <!--Daily-->
            <!-- <div class="form-group switchable" id="daily-on">
            </div> -->
            <!--Weekly-->
            <div class="form-group switchable detail-frequency {{#ifCond event.frequency 'weekly'}}active{{/ifCond}}" id="weekly-on">
              <label class="control-label col-md-3">On</label>
              <div class="col-md-9">
                <div class="checkbox">
                  <!--monday-->
                  <label id="monday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" value="2" {{#ifIn 2 event.dayOfWeek}}checked{{/ifIn}}> Monday
                  </label>
                </div>
                <div class="checkbox">
                  <!--tuesday-->
                  <label id="tuesday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" {{#ifIn 3 event.dayOfWeek}}checked{{/ifIn}} value="3"> Tuesday
                  </label>
                </div>
                <div class="checkbox">
                  <!--wednesday-->
                  <label id="wednesday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" {{#ifIn 4 event.dayOfWeek}}checked{{/ifIn}} value="4"> Wednesday
                  </label>
                </div>
                <div class="checkbox">
                  <!--thursday-->
                  <label id="thursday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" {{#ifIn 5 event.dayOfWeek}}checked{{/ifIn}} value="5"> Thursday
                  </label>
                </div>
                <div class="checkbox">
                  <!--Friday-->
                  <label id="Friday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" {{#ifIn 6 event.dayOfWeek}}checked{{/ifIn}} value="6"> Friday
                  </label>
                </div>
                <div class="checkbox">
                  <!--Saturday-->
                  <label id="Saturday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" {{#ifIn 7 event.dayOfWeek}}checked{{/ifIn}} value="7"> Saturday
                  </label>
                </div>
                <div class="checkbox">
                  <!--Sunday-->
                  <label id="sunday-switch">
                    <input type="checkbox" name="weeklyDayOfWeek" {{#ifIn 1 event.dayOfWeek}}checked{{/ifIn}} value="1"> Sunday
                  </label>
                </div>
              </div>
            </div>
            <!--Monthly-->
            <div class="form-group switchable detail-frequency {{#ifCond event.frequency 'monthly'}}active{{/ifCond}}" id="monthly-on">
              <label class="control-label col-md-3">On</label>
              <div class="col-md-3">
                <div class="radio">
                  <label>
                    <input type="radio" name="monthlyOnType" value="dayOfMonth" checked> Date of Month
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input type="radio" name="monthlyOnType" value="dayOfWeek"> Day of Week
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div id="monthly-on-each" class="switchable monthly-freq-type active">
                  <div class="btn-group btn-group-sm" data-toggle="buttons-radio" role="group" aria-label="1">
                    {{#for 1 31}}
                    <button type="button" class="btn btn-default {{#ifCond event.dayOfMonth i}}active{{/ifCond}}" value="{{i}}">{{i}}</button>
                    {{/for}}
                  </div>
                  <div id="dayOfMonth-container">
                    <!--Contains hidden fields for monthly day of month-->
                  </div>
                </div>
                <div id="monthly-on-day-of-week" class="switchable monthly-freq-type">
                  <select id="monthly-day-of-week" class="form-control" name="dayOfWeekCount">
                    <option value="1" {{#ifCond 1 event.dayOfWeekCount}}selected{{/ifCond}}>First</option>
                    <option value="2" {{#ifCond 2 event.dayOfWeekCount}}selected{{/ifCond}}>Second</option>
                    <option value="3" {{#ifCond 3 event.dayOfWeekCount}}selected{{/ifCond}}>Third</option>
                    <option value="4" {{#ifCond 4 event.dayOfWeekCount}}selected{{/ifCond}}>Fourth</option>
                    <option value="5" {{#ifCond 5 event.dayOfWeekCount}}selected{{/ifCond}}>Fifth</option>
                    <option value="0" {{#ifCond 0 event.dayOfWeekCount}}selected{{/ifCond}}>Last</option>
                  </select>
                  <select id="monthly-day-of-week" class="form-control" multiple name="dayOfWeek">
                    <option value="2" {{#ifIn 2 event.dayOfWeek}}selected{{/ifIn}}>Monday</option>
                    <option value="3" {{#ifIn 3 event.dayOfWeek}}selected{{/ifIn}}>Tuesday</option>
                    <option value="4" {{#ifIn 4 event.dayOfWeek}}selected{{/ifIn}}>Wednesday</option>
                    <option value="5" {{#ifIn 5 event.dayOfWeek}}selected{{/ifIn}}>Thursday</option>
                    <option value="6" {{#ifIn 6 event.dayOfWeek}}selected{{/ifIn}}>Friday</option>
                    <option value="7" {{#ifIn 7 event.dayOfWeek}}selected{{/ifIn}}>Saturday</option>
                    <option value="1" {{#ifIn 1 event.dayOfWeek}}selected{{/ifIn}}>Sunday</option>
                  </select>
                  <small class="text-info">Hold down <kbd>CTRL</kbd> to select multiple items</small>
                </div>
              </div>
              <input type="hidden" name="monthlyOnValue" value="">
            </div>
            <!--Yearly-->
            <div class="detail-frequency switchable {{#ifCond event.frequency 'yearly'}}active{{/ifCond}}" id="yearly-on">
              <div class="form-group">
                <label class="control-label col-md-3">In</label>
                <div class="col-md-9">
                  <div class="btn-group btn-group-sm" data-toggle="buttons-radio" role="group" aria-label="1">
                    <button type="button" class="btn btn-default" data-month="january">Jan</button>
                    <button type="button" class="btn btn-default" data-month="february">Feb</button>
                    <button type="button" class="btn btn-default" data-month="march">Mar</button>
                    <button type="button" class="btn btn-default" data-month="april">Apr</button>
                    <button type="button" class="btn btn-default" data-month="may">May</button>
                    <button type="button" class="btn btn-default" data-month="june">Jun</button>
                    <button type="button" class="btn btn-default" data-month="july">Jul</button>
                    <button type="button" class="btn btn-default" data-month="august">Aug</button>
                    <button type="button" class="btn btn-default" data-month="september">Sep</button>
                    <button type="button" class="btn btn-default" data-month="october">Oct</button>
                    <button type="button" class="btn btn-default" data-month="november">Nov</button>
                    <button type="button" class="btn btn-default" data-month="december">Dec</button>
                  </div>
                </div>
              </div>
              <div class="form-group" id="yearly-day-of-week-count">
                <label class="control-label col-md-3">Day of Week</label>
                <div class="checkbox col-md-3">
                  <label id="yearly-day-of-week-count-switch">
                    <input type="checkbox" name="yearlyDayOfWeek" value="true">
                  </label>
                </div>
                <div class="col-md-3">
                  <div id="yearly-on-day-of-week-count-container" class="switchable">
                    <select id="yearly-day-of-week-count" class="form-control">
                      <option value="1">First</option>
                      <option value="2">Second</option>
                      <option value="3">Third</option>
                      <option value="4">Fourth</option>
                      <option value="5">Fifth</option>
                      <option value="0">Last</option>
                    </select>
                    <select multiple id="yearly-day-of-week" class="form-control">
                      <option value="2">Monday</option>
                      <option value="3">Tuesday</option>
                      <option value="4">Wednesday</option>
                      <option value="5">Thursday</option>
                      <option value="6">Friday</option>
                      <option value="7">Saturday</option>
                      <option value="1">Sunday</option>
                    </select>
                    <small class="text-info">Hold down <kbd>CTRL</kbd> to select multiple items.</small>
                  </div>
                </div>
              </div>
            </div>
            <!-- TO BE IMPLEMENTED -->
            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <span class="text-success" id="repeat-summary">Event will occur every 1 day(s)</span> &nbsp;
                <span class="text-success" id="repeat-summary-details"></span>
              </div>
            </div>
          </div>
          <!--end of repeat-->
          <div class="form-group">
            <label class="col-md-3 control-label">Street Address</label>
            <div class="col-md-6">
              <input class="form-control" id="streetAddress" name="address" value="{{event.address}}" placeholder="Event location or address" />
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">City/State/Zip</label>
            <div class="col-md-3">
              <input class="form-control" id="city" name="city" value="{{event.city}}" placeholder="City" />
              <!--<span class="label label-default">Required</span>-->
            </div>
            <div class="col-md-1">
              <input class="form-control" id="state" name="state" value="{{event.state}}" placeholder="MD" />
              <!--<span class="label label-default">Required</span>-->
            </div>
            <div class="col-md-2">
              <input class="form-control" id="zip" name="zip" value="{{event.zip}}" placeholder="21801" />
              <!--<span class="label label-default">Required</span>-->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-6">
              <div class="input-group inputLong">
                <textarea class="form-control" id="description" name="description" placeholder="Event Description..." required>{{event.description}}</textarea>
                <!--<span class="label label-default">Required</span>-->
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <button class="btn btn-primary" id="proceedBtn" type="submit">
                Submit
              </button>
              <a class="btn btn-default" href="{{rootPath}}event">Cancel</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{{#contentFor 'scripts'}}
<script type="text/javascript" src="{{rootPath}}lib/moment/min/moment.min.js"></script>
<script type="text/javascript" src="{{rootPath}}lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{rootPath}}/build/eventAdd-bundle.js"></script>
{{/contentFor}}
