<div class="page-wrap">
  <div class="container">
    <div class="page-header">
      <h3>
        Delete Event
      </h3>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div>
              <form action="delete" class="form-horizontal" method="post" role="form">
                <input type="hidden" value="{{event._id}}" name="id" />
                <div class="form-group ">
                  <div class="col-md-10 col-md-offset-1 alert alert-danger">
                    <span>Are you sure you want to delete this event <strong>{{event.name}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12 text-center">
                    <button class="btn btn-primary" id="proceedBtn" type="submit">
                      Yes
                    </button>
                    <a class="btn btn-default" href="manage">Back</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
