<link href="{{rootPath}}lib/leaflet-0.7.3/leaflet.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{rootPath}}lib/leaflet-cluster/markerCluster.css">
<div class="page-wrap">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="map" id="unite-map">
					<!--Map area-->
				</div>
			</div>
			<div class="col-md-6" id="list-area">
				<h3>Event list</h3>
			</div>			
		</div>
		<div class="row"><!--Event list-->
			<div class="col-md-12 col-sm-12" id="calendar-area">
					<h3>Calendar</h3>
			</div>
		</div>
	</div>
</div>
</div>

{{> popupTemplate }}

{{#contentFor "scripts"}}
<script type="text/javascript" src="{{rootPath}}lib/backbone-addon/application.js"></script>
<script type="text/javascript" src="{{rootPath}}lib/leaflet-0.7.3/leaflet.js"></script>
<script type="text/javascript" src="{{rootPath}}lib/leaflet-cluster/leaflet.markercluster.js"></script>
<script type="text/javascript" src="{{rootPath}}build/whatsup-map.js"></script>
<script>
$(function() {
  if (typeof startup == 'function')
    startup();
});
</script>
{{/contentFor}} 
