<div class="page-wrap">
  <div class="container">
    {{#if message}}
    <div class="alert alert-danger text-center">
      {{message}}
    </div>
    {{/if}}
    {{#if user}}
    <h3> {{user.email}}'s Events </h3>
    <div class="panel-group">
      {{#each user.events}}
      <div class="panel panel-default">
        <div class="panel-heading">
          {{this.name}}
        </div>          
        <div class="panel-body">
          {{this.description}} 
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
    <a href="{{rootPath}}event/add">
      <button class="btn btn-primary" id="proceedBtn">
        Add Event
      </button>
    </a>
  </div>
</div>

